{"openapi":"3.1.0","info":{"title":"Taskfolk API","version":"1.0.0","description":"Public REST API for Taskfolk (taskfolk.ai). All endpoints require a workspace-scoped bearer API key. Paths are nested under `/v1/workspaces/{slug}/…`."},"servers":[{"url":"https://taskfolk.ai/api"}],"security":[{"bearerAuth":[]}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API key","description":"Workspace API key. Send as `Authorization: Bearer tfk_live_…`. Each key is bound to exactly one workspace and carries a set of scopes."}},"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized","forbidden","not_found","validation","rate_limited","conflict","idempotency_violation","internal_error"],"example":"validation"},"message":{"type":"string","example":"Label \"foo\" does not exist on this project."},"details":{"type":"object","additionalProperties":{}}},"required":["code","message"]}},"required":["error"]},"Workspace":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string","example":"taskfolk"},"name":{"type":"string","example":"Taskfolk"},"default_locale":{"type":"string","example":"en"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","slug","name","default_locale","created_at"]},"WorkspacePatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"Taskfolk"}},"required":["name"]},"Project":{"type":"object","properties":{"id":{"type":"string"},"key":{"type":"string","example":"WEB"},"slug":{"type":"string","example":"web"},"name":{"type":"string","example":"Website"},"description_md":{"type":["string","null"]},"lead_user_id":{"type":["string","null"]},"scoped":{"type":"boolean","description":"True when access is restricted to explicit project members."},"estimation_unit":{"type":"string","enum":["time","points","none"],"description":"How this project estimates work (POINTS-01): time (estimate_minutes), points (story_points), or none."},"archived_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","key","slug","name","description_md","lead_user_id","scoped","estimation_unit","archived_at","created_at","updated_at"]},"Label":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"frontend"},"color":{"type":"string","example":"#f5c518"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","name","color","created_at"]},"ProjectStatus":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"In Review"},"name_ar":{"type":["string","null"],"example":"قيد المراجعة"},"color":{"type":"string","example":"#4FE8E5"},"category":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"],"description":"System category the status maps to (open/done semantics)."},"rank":{"type":"string","description":"LexoRank ordering string."}},"required":["id","name","name_ar","color","category","rank"]},"Issue":{"type":"object","properties":{"id":{"type":"string"},"key":{"type":"string","example":"WEB-39"},"url":{"type":"string","example":"https://taskfolk.ai/w/taskfolk/p/web/WEB-39"},"number":{"type":"integer"},"type":{"type":"string","enum":["epic","story","task","bug","subtask"]},"title":{"type":"string"},"description_md":{"type":["string","null"]},"status":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"]},"status_id":{"type":["string","null"],"description":"Specific board status id (project_statuses). See GET .../statuses."},"status_name":{"type":["string","null"],"description":"Display name of the board status."},"priority":{"type":"string","enum":["lowest","low","medium","high","highest","critical"]},"assignee_id":{"type":["string","null"],"description":"Primary assignee (compat). Equals assignees[0], or null when unassigned."},"assignees":{"type":"array","items":{"type":"string"},"description":"All assignee user ids, primary first. Set via PATCH assignee_ids."},"reporter_id":{"type":"string"},"parent_id":{"type":["string","null"]},"epic_id":{"type":["string","null"]},"milestone_id":{"type":["string","null"],"description":"Attached milestone id, or null."},"sprint_id":{"type":["string","null"],"description":"Attached sprint id, or null."},"release_id":{"type":["string","null"],"description":"Attached release id, or null."},"labels":{"type":"array","items":{"$ref":"#/components/schemas/Label"}},"estimate_minutes":{"type":["integer","null"]},"story_points":{"type":["integer","null"],"description":"Story points estimate (POINTS-01); used when the project's estimation_unit is \"points\". Null = unestimated."},"spent_minutes":{"type":["integer","null"]},"completion_pct":{"type":["integer","null"]},"start_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"due_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"resolved_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"archived_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","key","url","number","type","title","description_md","status","status_id","status_name","priority","assignee_id","assignees","reporter_id","parent_id","epic_id","milestone_id","sprint_id","release_id","labels","estimate_minutes","story_points","spent_minutes","completion_pct","start_at","due_at","resolved_at","archived_at","created_at","updated_at"]},"Comment":{"type":"object","properties":{"id":{"type":"string"},"issue_id":{"type":"string"},"author_id":{"type":"string"},"body_md":{"type":"string"},"body_html":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","issue_id","author_id","body_md","body_html","created_at","updated_at"]},"Activity":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","example":"status_changed"},"actor_id":{"type":["string","null"]},"payload":{"type":"object","additionalProperties":{}},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","kind","actor_id","payload","created_at"]},"Watcher":{"type":"object","properties":{"user_id":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["user_id","created_at"]},"Attachment":{"type":"object","properties":{"id":{"type":"string"},"issue_id":{"type":"string"},"comment_id":{"type":["string","null"]},"file_name":{"type":"string"},"mime":{"type":"string"},"byte_size":{"type":"integer"},"uploader_id":{"type":"string"},"url":{"type":["string","null"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","issue_id","comment_id","file_name","mime","byte_size","uploader_id","url","created_at"]},"UploadIntent":{"type":"object","properties":{"r2_key":{"type":"string"},"url":{"type":"string","description":"Pre-signed R2 PUT URL."},"relay_url":{"type":"string","description":"Same-origin fallback PUT path for networks that block the storage domain. PUT the same bytes here if the direct URL is unreachable."},"headers":{"type":"object","additionalProperties":{"type":"string"}},"expires_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["r2_key","url","relay_url","headers","expires_at"]},"CustomFieldDef":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"severity"},"kind":{"type":"string","enum":["text","number","select","multi_select","date","checkbox","url","user","project","doc"]},"options":{"type":"array","items":{"type":"string"}},"applies_to":{"type":"array","items":{"type":"string","enum":["epic","story","task","bug","subtask"]}},"required":{"type":"boolean"},"rank":{"type":"string"}},"required":["id","name","kind","options","applies_to","required","rank"]},"CustomFieldValue":{"type":"object","properties":{"field_id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string"},"value":{}},"required":["field_id"]},"Sprint":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"Sprint 7"},"goal":{"type":["string","null"],"description":"Sprint goal (markdown)."},"status":{"type":"string","enum":["planned","active","completed"]},"start_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"end_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"rank":{"type":"string"}},"required":["id","name","goal","status","start_at","end_at","rank"]},"Milestone":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"v2.0 Release"},"description_md":{"type":["string","null"],"description":"Milestone description (markdown)."},"status":{"type":"string","enum":["planned","active","completed"]},"start_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"due_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"rank":{"type":"string"}},"required":["id","name","description_md","status","start_at","due_at","rank"]},"Release":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"Autumn Launch"},"version":{"type":["string","null"],"example":"2.1.0","description":"Semantic version or build tag."},"description_md":{"type":["string","null"],"description":"Release notes (markdown)."},"status":{"type":"string","enum":["planned","in_progress","released","cancelled"]},"target_date":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z","description":"Planned ship date."},"released_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z","description":"Actual ship time; set when status becomes released."},"rank":{"type":"string"}},"required":["id","name","version","description_md","status","target_date","released_at","rank"]},"Report":{"type":"object","properties":{"report":{"type":"string","enum":["velocity","burndown","cycle-time","throughput","status-breakdown","type-breakdown","workload"],"description":"Which report this payload describes."},"data":{"description":"Report-specific payload. Shape depends on `report`: velocity (bars + average), burndown (points), cycle-time (buckets + percentiles), throughput (weekly created vs resolved), status/type-breakdown (slices), workload (rows by assignee). Sprint-dependent reports may be null when the project has no sprints."}},"required":["report"]},"SavedView":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"filter":{"description":"Opaque filter blob (issueTypes[], priorities[], assigneeId, sort…)."},"is_shared":{"type":"boolean"},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","name","is_shared","created_by","created_at","updated_at"]},"TimeTracking":{"type":"object","properties":{"issue_key":{"type":"string","example":"WEB-12"},"estimate_minutes":{"type":["integer","null"]},"story_points":{"type":["integer","null"]},"spent_minutes":{"type":["integer","null"]},"completion_pct":{"type":["integer","null"]}},"required":["issue_key","estimate_minutes","story_points","spent_minutes","completion_pct"]},"IssueLink":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["relates_to","blocks","duplicates"]},"direction":{"type":"string","enum":["out","in"],"description":"\"out\" = anchor → target, \"in\" = target → anchor."},"target_key":{"type":"string","example":"WEB-12"},"target_title":{"type":"string"},"target_status":{"type":"string"},"target_project_slug":{"type":"string"}},"required":["id","kind","direction","target_key","target_title","target_status","target_project_slug"]},"CommitRef":{"type":"object","properties":{"id":{"type":"string"},"repo":{"type":"string","example":"utter-ae/product"},"sha":{"type":"string","example":"a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"},"message":{"type":"string"},"url":{"type":"string","example":"https://github.com/utter-ae/product/commit/a1b2c3"},"author":{"type":["string","null"]},"committed_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","repo","sha","message","url","author","committed_at"]},"Doc":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"project_id":{"type":["string","null"]},"parent_id":{"type":["string","null"]},"icon":{"type":["string","null"]},"body_md":{"type":["string","null"]},"body_json":{},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","title","project_id","parent_id","icon","body_md","created_at","updated_at"]},"Member":{"type":"object","properties":{"user_id":{"type":"string"},"email":{"type":"string"},"name":{"type":["string","null"]},"role":{"type":"string","enum":["owner","admin","member","viewer"]}},"required":["user_id","email","name","role"]},"Invite":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string","example":"user@example.com"},"role":{"type":"string","enum":["admin","member","viewer","guest"]},"invited_by_user_id":{"type":"string"},"expires_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","email","role","invited_by_user_id","expires_at","created_at"]},"InviteCreateInput":{"type":"object","properties":{"email":{"type":"string","format":"email","example":"user@example.com"},"role":{"type":"string","enum":["admin","member","viewer","guest"]}},"required":["email","role"]},"ProjectMember":{"type":"object","properties":{"user_id":{"type":"string"},"email":{"type":"string"},"name":{"type":["string","null"]},"role":{"type":"string","enum":["admin","member","viewer"]},"added_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["user_id","email","name","role","added_at"]},"ProjectMemberAddInput":{"type":"object","properties":{"user_id":{"type":"string","description":"ID of an existing workspace member."},"role":{"type":"string","enum":["admin","member","viewer"]}},"required":["user_id","role"]},"MemberPatchInput":{"type":"object","properties":{"role":{"type":"string","enum":["admin","member","viewer"],"description":"New role for the member. Cannot promote to owner; use the ownership-transfer flow."}},"required":["role"]},"Notification":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","example":"assigned"},"read_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","kind","read_at","created_at"]},"SearchResult":{"type":"object","properties":{"type":{"type":"string","enum":["issue","doc"]},"id":{"type":"string"},"title":{"type":"string"},"url":{"type":["string","null"]}},"required":["type","id","title"]},"Me":{"type":"object","properties":{"keyId":{"type":"string"},"name":{"type":"string"},"workspaceSlug":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}},"expiresAt":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["keyId","name","workspaceSlug","scopes","expiresAt"]},"ApiKey":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"CI deploy bot"},"prefix":{"type":"string","example":"tfk_live_abcd"},"scopes":{"type":"array","items":{"type":"string"},"example":["issues:read","issues:write"]},"project_ids":{"type":["array","null"],"items":{"type":"string"}},"rate_limit_per_minute":{"type":["integer","null"]},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"expires_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"last_used_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"last_used_ip":{"type":["string","null"]},"revoked_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"revoke_reason":{"type":["string","null"]}},"required":["id","name","prefix","scopes","project_ids","rate_limit_per_minute","created_by","created_at","expires_at","last_used_at","last_used_ip","revoked_at","revoke_reason"]},"CreatedApiKey":{"allOf":[{"$ref":"#/components/schemas/ApiKey"},{"type":"object","properties":{"plaintext":{"type":"string","example":"tfk_live_abcd1234...","description":"Returned exactly once on create. Store it securely."}},"required":["plaintext"]}]},"Webhook":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string","format":"uri","example":"https://example.com/taskfolk/webhook"},"event_types":{"type":"array","items":{"type":"string"},"example":["issue.created","comment.created"]},"secret_prefix":{"type":"string"},"disabled_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"last_delivery_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"last_delivery_status":{"type":["integer","null"]},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","url","event_types","secret_prefix","disabled_at","last_delivery_at","last_delivery_status","created_by","created_at"]},"CreatedWebhook":{"allOf":[{"$ref":"#/components/schemas/Webhook"},{"type":"object","properties":{"secret":{"type":"string","example":"utwhsec_...","description":"Returned exactly once on create or rotation."}},"required":["secret"]}]},"WebhookDelivery":{"type":"object","properties":{"delivery_id":{"type":"string"},"event_type":{"type":"string","example":"webhook.test"},"attempt":{"type":"integer","example":1},"status":{"type":"integer","example":200},"latency_ms":{"type":"integer","example":123},"error":{"type":"string"},"final":{"type":"integer","example":1},"ts":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["delivery_id","event_type","attempt","status","latency_ms","error","final","ts"]},"ApiKeyUsageDayPoint":{"type":"object","properties":{"date":{"type":"string","example":"2026-06-15"},"requests":{"type":"integer"},"errors":{"type":"integer"},"p50_ms":{"type":"integer"},"p95_ms":{"type":"integer"},"p99_ms":{"type":"integer"}},"required":["date","requests","errors","p50_ms","p95_ms","p99_ms"]},"ApiKeyUsage":{"type":"object","properties":{"key_id":{"type":"string"},"from":{"type":"string","example":"2026-05-17"},"to":{"type":"string","example":"2026-06-15"},"granularity":{"type":"string","enum":["day"]},"series":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyUsageDayPoint"}},"totals":{"type":"object","properties":{"requests":{"type":"integer"},"errors":{"type":"integer"},"p95_ms":{"type":"integer"}},"required":["requests","errors","p95_ms"]}},"required":["key_id","from","to","granularity","series","totals"]},"OauthApp":{"type":"object","properties":{"client_id":{"type":"string","example":"utoc_..."},"name":{"type":"string","example":"My CI Integration"},"redirect_uris":{"type":"array","items":{"type":"string","format":"uri"},"example":["https://example.com/callback"]},"scopes":{"type":"array","items":{"type":"string"},"example":["issues:read","comments:write"]},"is_public":{"type":"boolean","description":"True = PKCE public client (no secret)."},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["client_id","name","redirect_uris","scopes","is_public","created_at"]},"CreatedOauthApp":{"allOf":[{"$ref":"#/components/schemas/OauthApp"},{"type":"object","properties":{"client_secret":{"type":["string","null"],"example":"utos_...","description":"Returned exactly once on create. Null for public (PKCE) clients."}},"required":["client_secret"]}]},"OauthAppCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"example":"My CI Integration"},"redirect_uris":{"type":"array","items":{"type":"string","format":"uri"},"minItems":1,"maxItems":20,"example":["https://example.com/callback"]},"scopes":{"type":"array","items":{"type":"string"},"minItems":1,"example":["issues:read"]},"is_public":{"type":"boolean","description":"Set true for PKCE public clients (no secret).","example":false}},"required":["name","redirect_uris","scopes"]},"ProjectCreateInput":{"type":"object","properties":{"key":{"type":"string","example":"WEB"},"name":{"type":"string"},"slug":{"type":"string"},"description_md":{"type":"string"},"lead_user_id":{"type":"string"}},"required":["key","name"]},"ProjectPatchInput":{"type":"object","properties":{"name":{"type":"string"},"description_md":{"type":["string","null"]},"lead_user_id":{"type":["string","null"]},"estimation_unit":{"type":"string","enum":["time","points","none"]}}},"IssueCreateInput":{"type":"object","properties":{"type":{"type":"string","enum":["epic","story","task","bug","subtask"]},"title":{"type":"string"},"description_md":{"type":"string"},"status":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"]},"status_id":{"type":"string","description":"Board status id (project_statuses); wins over status."},"priority":{"type":"string","enum":["lowest","low","medium","high","highest","critical"]},"assignee":{"type":"string","description":"user_id or email","example":"omar@haris.bz"},"labels":{"type":"array","items":{"type":"string"},"description":"label ids or names"},"parent":{"type":"string","example":"WEB-2"},"epic":{"type":"string","example":"WEB-2"},"start_at":{"type":["string","null"]},"due_at":{"type":["string","null"]},"estimate_minutes":{"type":["integer","null"]},"story_points":{"type":["integer","null"]}},"required":["type","title"]},"IssuePatchInput":{"type":"object","properties":{"title":{"type":"string"},"description_md":{"type":["string","null"]},"status":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"]},"status_id":{"type":"string","description":"Board status id (project_statuses); wins over status."},"priority":{"type":"string","enum":["lowest","low","medium","high","highest","critical"]},"assignee":{"type":["string","null"],"description":"Primary assignee (user_id or email), or null to unassign. Back-compat single field; seeds a one-element assignee set."},"assignee_ids":{"type":"array","items":{"type":"string"},"description":"Full ordered assignee set (user_ids or emails), primary first. Wins over `assignee`; pass [] to unassign everyone."},"labels":{"type":"array","items":{"type":"string"}},"milestone_id":{"type":["string","null"]},"sprint_id":{"type":["string","null"],"description":"Attach the issue to a sprint (sprint id), or null to detach. This is how issues are added to / removed from a sprint."},"release_id":{"type":["string","null"],"description":"Attach the issue to a release (release id), or null to detach. This is how issues are added to / removed from a release."},"estimate_minutes":{"type":["integer","null"]},"story_points":{"type":["integer","null"]},"spent_minutes":{"type":["integer","null"]},"completion_pct":{"type":["integer","null"]},"start_at":{"type":["string","null"]},"due_at":{"type":["string","null"]}}},"IssueTransitionInput":{"type":"object","properties":{"status":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"]},"rank":{"type":"string"}},"required":["status"]},"CommentCreateInput":{"type":"object","properties":{"body_md":{"type":"string"}},"required":["body_md"]},"LabelCreateInput":{"type":"object","properties":{"name":{"type":"string"},"color":{"type":"string"}},"required":["name","color"]},"LabelPatchInput":{"type":"object","properties":{"name":{"type":"string"},"color":{"type":"string"}}},"CustomFieldDefCreateInput":{"type":"object","properties":{"name":{"type":"string"},"kind":{"type":"string","enum":["text","number","select","multi_select","date","checkbox","url","user","project","doc"]},"options":{"type":"array","items":{"type":"string"}},"applies_to":{"type":"array","items":{"type":"string","enum":["epic","story","task","bug","subtask"]}},"required":{"type":"boolean"}},"required":["name","kind"]},"CustomFieldValueInput":{"type":"object","properties":{"value":{}}},"SprintCreateInput":{"type":"object","properties":{"name":{"type":"string","example":"Sprint 7"},"goal":{"type":["string","null"],"description":"Sprint goal (markdown)."},"status":{"type":"string","enum":["planned","active","completed"]},"start_at":{"type":["string","null"],"description":"Date or ISO 8601."},"end_at":{"type":["string","null"],"description":"Date or ISO 8601."}},"required":["name"]},"StatusCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80,"example":"In Review"},"name_ar":{"type":"string","maxLength":80,"example":"قيد المراجعة"},"color":{"type":"string","example":"#4FE8E5","description":"Hex color #RRGGBB."},"category":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"],"description":"System category the column maps to (drives open/done semantics)."}},"required":["name","color","category"]},"StatusPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80},"name_ar":{"type":["string","null"],"maxLength":80},"color":{"type":"string","description":"Hex color #RRGGBB."},"category":{"type":"string","enum":["backlog","todo","in_progress","in_review","done","failed","cancelled"],"description":"System category the column maps to (drives open/done semantics)."}}},"SprintPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"example":"Sprint 7"},"goal":{"type":["string","null"],"description":"Sprint goal (markdown)."},"status":{"type":"string","enum":["planned","active","completed"]},"start_at":{"type":["string","null"],"description":"Date or ISO 8601."},"end_at":{"type":["string","null"],"description":"Date or ISO 8601."}}},"MilestoneCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"example":"v2.0 Release"},"description_md":{"type":["string","null"],"description":"Description (markdown)."},"status":{"type":"string","enum":["planned","active","completed"]},"start_at":{"type":["string","null"],"description":"Date (YYYY-MM-DD) or ISO 8601."},"due_at":{"type":["string","null"],"description":"Date (YYYY-MM-DD) or ISO 8601."}},"required":["name"]},"MilestonePatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120},"description_md":{"type":["string","null"]},"status":{"type":"string","enum":["planned","active","completed"]},"start_at":{"type":["string","null"]},"due_at":{"type":["string","null"]}}},"ReleaseCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"example":"Autumn Launch"},"version":{"type":["string","null"],"maxLength":64,"example":"2.1.0"},"description_md":{"type":["string","null"],"description":"Release notes (markdown)."},"status":{"type":"string","enum":["planned","in_progress","released","cancelled"]},"target_date":{"type":["string","null"],"description":"Date (YYYY-MM-DD) or ISO 8601."}},"required":["name"]},"ReleasePatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120},"version":{"type":["string","null"],"maxLength":64},"description_md":{"type":["string","null"]},"status":{"type":"string","enum":["planned","in_progress","released","cancelled"],"description":"Setting status=released stamps released_at; leaving it clears released_at."},"target_date":{"type":["string","null"],"description":"Date (YYYY-MM-DD) or ISO 8601."}}},"SavedViewCreateInput":{"type":"object","properties":{"name":{"type":"string"},"filter":{},"is_shared":{"type":"boolean"}},"required":["name"]},"TimePatchInput":{"type":"object","properties":{"estimate_minutes":{"type":["integer","null"]},"story_points":{"type":["integer","null"]},"spent_minutes":{"type":["integer","null"]},"completion_pct":{"type":["integer","null"]}}},"IssueLinkCreateInput":{"type":"object","properties":{"kind":{"type":"string","enum":["relates_to","blocks","duplicates"]},"direction":{"type":"string","enum":["out","in"],"description":"\"out\" = anchor blocks/relates_to/duplicates target; \"in\" = target → anchor."},"target_key":{"type":"string","description":"Target issue KEY-NUM (e.g. WEB-12). Cross-project within the workspace is supported.","example":"WEB-12"}},"required":["kind","direction","target_key"]},"DocCreateInput":{"type":"object","properties":{"title":{"type":"string"},"project":{"type":"string","description":"project key to scope the doc"},"parent_id":{"type":"string"},"body_md":{"type":"string"},"body_json":{},"icon":{"type":"string"}}},"AttachmentIntentInput":{"type":"object","properties":{"file_name":{"type":"string"},"mime":{"type":"string"},"byte_size":{"type":"integer"},"comment_id":{"type":"string"}},"required":["file_name","mime","byte_size"]},"AttachmentCommitInput":{"type":"object","properties":{"r2_key":{"type":"string","description":"The exact r2_key returned by the intent call."},"file_name":{"type":"string"},"mime":{"type":"string"},"byte_size":{"type":"integer"},"comment_id":{"type":"string"}},"required":["r2_key","file_name","mime","byte_size"]},"ApiKeyCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80},"scopes":{"type":"array","items":{"type":"string"},"minItems":1},"project_ids":{"type":["array","null"],"items":{"type":"string"}},"expires_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"rate_limit_per_minute":{"type":["integer","null"],"minimum":1,"maximum":100000}},"required":["name","scopes"]},"ApiKeyPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80},"rate_limit_per_minute":{"type":["integer","null"],"minimum":1,"maximum":100000},"expires_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}}},"WebhookCreateInput":{"type":"object","properties":{"url":{"type":"string","format":"uri","example":"https://example.com/taskfolk/webhook"},"event_types":{"type":"array","items":{"type":"string"},"minItems":1,"example":["*"]}},"required":["url","event_types"]},"WebhookPatchInput":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"event_types":{"type":"array","items":{"type":"string"},"minItems":1},"enabled":{"type":"boolean"}}},"BulkIssuesCreateInput":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/IssueCreateInput"},"minItems":1,"maxItems":50}},"required":["items"]},"BulkCommentsCreateInput":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CommentCreateInput"},"minItems":1,"maxItems":50}},"required":["items"]},"BulkDocsCreateInput":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DocCreateInput"},"minItems":1,"maxItems":50}},"required":["items"]},"BulkIssueResult":{"anyOf":[{"type":"object","properties":{"index":{"type":"integer"},"ok":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Issue"}},"required":["index","ok","data"]},{"type":"object","properties":{"index":{"type":"integer"},"ok":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized","forbidden","not_found","validation","rate_limited","conflict","idempotency_violation","internal_error"],"example":"validation"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["code","message"]}},"required":["index","ok","error"]}]},"BulkCommentResult":{"anyOf":[{"type":"object","properties":{"index":{"type":"integer"},"ok":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Comment"}},"required":["index","ok","data"]},{"type":"object","properties":{"index":{"type":"integer"},"ok":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized","forbidden","not_found","validation","rate_limited","conflict","idempotency_violation","internal_error"],"example":"validation"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["code","message"]}},"required":["index","ok","error"]}]},"BulkDocResult":{"anyOf":[{"type":"object","properties":{"index":{"type":"integer"},"ok":{"type":"boolean","enum":[true]},"data":{"$ref":"#/components/schemas/Doc"}},"required":["index","ok","data"]},{"type":"object","properties":{"index":{"type":"integer"},"ok":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized","forbidden","not_found","validation","rate_limited","conflict","idempotency_violation","internal_error"],"example":"validation"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["code","message"]}},"required":["index","ok","error"]}]},"Agent":{"type":"object","properties":{"agent_id":{"type":"string","example":"019e6f12-…","description":"The agent's user id — the value to pass as agent_id elsewhere and the id used when assigning issues to the agent."},"name":{"type":"string","example":"Omar's Claude Code"},"kind":{"type":"string","example":"claude","description":"Provider: claude, openai, cursor, copilot, gemini, deepseek, kimi, perplexity, or custom."},"owner_user_id":{"type":"string","description":"The human member who connected this agent."},"running_sessions":{"type":"integer","example":1},"last_activity_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"cost_total":{"type":["number","null"],"description":"Total agent-reported cost across the agent's sessions (USD). Agent-reported; Taskfolk never runs the model."},"key_prefix":{"type":["string","null"],"description":"The agent's API key prefix (masked)."},"key_revoked":{"type":"boolean","description":"Whether the agent's API key is revoked."},"field_policy":{"type":["array","null"],"items":{"type":"string"},"description":"FIELD-POLICY-01 allowlist of writable issue fields; null = all fields writable."},"spend_cap_usd":{"type":["number","null"],"description":"Per-agent soft spend cap (USD), or null when unset. Alert-only."}},"required":["agent_id","name","kind","owner_user_id","running_sessions","last_activity_at","created_at","cost_total","key_prefix","key_revoked","field_policy","spend_cap_usd"]},"AgentDetail":{"type":"object","properties":{"agent_id":{"type":"string"},"name":{"type":"string"},"kind":{"type":"string"},"owner_user_id":{"type":"string"},"running_sessions":{"type":"integer"},"pending_sessions":{"type":"integer","description":"Unclaimed delegations (assigned, not yet started)."},"last_activity_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"cost_total":{"type":["number","null"]},"tokens_in":{"type":["number","null"]},"tokens_out":{"type":["number","null"]},"usage_reports":{"type":"integer"},"key_prefix":{"type":["string","null"]},"key_revoked":{"type":"boolean"},"key_scopes":{"type":"array","items":{"type":"string"}},"key_last_used_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"field_policy":{"type":["array","null"],"items":{"type":"string"}},"spend_cap_usd":{"type":["number","null"]}},"required":["agent_id","name","kind","owner_user_id","running_sessions","pending_sessions","last_activity_at","created_at","cost_total","tokens_in","tokens_out","usage_reports","key_prefix","key_revoked","key_scopes","key_last_used_at","field_policy","spend_cap_usd"]},"AgentSession":{"type":"object","properties":{"id":{"type":"string"},"agent_id":{"type":"string"},"agent_name":{"type":"string","example":"Omar's Claude Code"},"agent_kind":{"type":"string","example":"claude"},"state":{"type":"string","enum":["running","needs_input","review","done","failed","cancelled"],"example":"running"},"title":{"type":"string","example":"Fix flaky auth test"},"note":{"type":["string","null"],"description":"The agent's latest status note."},"external_url":{"type":["string","null"],"description":"Where the output lives — typically the PR URL."},"cost_usd":{"type":["number","null"],"description":"Cumulative agent-reported cost of this session in USD (null if never reported). Agent-reported — Taskfolk does not run the model or verify spend."},"tokens_in":{"type":["integer","null"],"description":"Cumulative input tokens the agent reported."},"tokens_out":{"type":["integer","null"],"description":"Cumulative output tokens the agent reported."},"model":{"type":["string","null"],"example":"claude-opus-4-8","description":"The model of the latest usage report."},"usage_reports":{"type":"integer","description":"How many usage reports the agent has posted."},"issue_id":{"type":["string","null"]},"issue_key":{"type":["string","null"],"example":"WEB-39"},"started_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"last_activity_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"ended_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","agent_id","agent_name","agent_kind","state","title","note","external_url","cost_usd","tokens_in","tokens_out","model","usage_reports","issue_id","issue_key","started_at","last_activity_at","ended_at"]},"ChatChannel":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["public","private","dm"]},"name":{"type":["string","null"],"description":"Null for DM channels."},"slug":{"type":["string","null"]},"topic":{"type":["string","null"]},"created_by":{"type":"string"},"archived_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"last_message_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"member_count":{"type":"integer"},"is_member":{"type":"boolean"}},"required":["id","kind","name","slug","topic","created_by","archived_at","last_message_at","created_at"]},"ChatChannelMember":{"type":"object","properties":{"user_id":{"type":"string"},"role":{"type":"string","enum":["owner","member"]},"joined_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["user_id","role","joined_at"]},"ChatMessage":{"type":"object","properties":{"id":{"type":"string"},"channel_id":{"type":"string"},"author_id":{"type":"string"},"body_md":{"type":"string"},"parent_id":{"type":["string","null"],"description":"The message this one replies to (may itself be a reply); null when top-level."},"root_id":{"type":["string","null"],"description":"Thread root message id; null for a top-level message."},"reply_count":{"type":"integer"},"last_reply_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"edited_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"reactions":{"type":"array","items":{"type":"object","properties":{"emoji":{"type":"string"},"count":{"type":"integer"},"user_ids":{"type":"array","items":{"type":"string"}}},"required":["emoji","count","user_ids"]}}},"required":["id","channel_id","author_id","body_md","parent_id","root_id","reply_count","last_reply_at","edited_at","created_at","reactions"]},"ChatReactions":{"type":"object","properties":{"message_id":{"type":"string"},"reactions":{"type":"array","items":{"type":"object","properties":{"emoji":{"type":"string"},"count":{"type":"integer"},"user_ids":{"type":"array","items":{"type":"string"}}},"required":["emoji","count","user_ids"]}}},"required":["message_id","reactions"]},"ChatChannelCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80},"kind":{"type":"string","enum":["public","private"],"description":"Defaults to public. DMs cannot be created over the API."},"topic":{"type":"string","maxLength":280}},"required":["name"]},"ChatChannelPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80},"topic":{"type":["string","null"],"maxLength":280},"archived":{"type":"boolean"}}},"ChatMessageCreateInput":{"type":"object","properties":{"body_md":{"type":"string","minLength":1,"maxLength":64000},"parent_id":{"type":"string","description":"Reply to this message — the thread root or any reply within it (nested replies are supported)."}},"required":["body_md"]},"FormField":{"type":"object","properties":{"id":{"type":"string"},"position":{"type":"integer"},"kind":{"type":"string","enum":["short_text","long_text","select","multi_select","number","date","email","radio","phone","url","rating","section","file","checkbox"]},"label":{"type":"string"},"help_text":{"type":["string","null"]},"placeholder":{"type":["string","null"]},"required":{"type":"boolean"},"options":{"type":"array","items":{"type":"string"}},"mapping":{"type":"string","enum":["none","title","description","priority"]},"min_value":{"type":["number","null"]},"max_value":{"type":["number","null"]},"max_length":{"type":["integer","null"]},"default_value":{"type":["string","null"]},"visibility_rule":{},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","position","kind","label","help_text","placeholder","required","options","mapping","min_value","max_value","max_length","default_value","created_at"]},"FormSummary":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"description":{"type":["string","null"]},"status":{"type":"string","enum":["draft","published","closed"]},"public_enabled":{"type":"boolean"},"share_url":{"type":["string","null"],"description":"Public /f/<token> URL; null unless public sharing is enabled."},"submission_count":{"type":"integer"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","title","description","status","public_enabled","share_url","submission_count","created_at","updated_at"]},"Form":{"allOf":[{"$ref":"#/components/schemas/FormSummary"},{"type":"object","properties":{"issue_type":{"type":"string","enum":["task","story","bug"]},"priority":{"type":"string"},"success_message":{"type":["string","null"]},"accent_color":{"type":["string","null"]},"header_text":{"type":["string","null"]},"show_project_header":{"type":"boolean"},"close_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"response_limit":{"type":["integer","null"]},"one_per_email":{"type":"boolean"},"confirmation_mode":{"type":"string","enum":["message","redirect"]},"redirect_url":{"type":["string","null"]},"default_assignee_id":{"type":["string","null"]},"default_label_ids":{"type":"array","items":{"type":"string"}},"default_sprint_id":{"type":["string","null"]},"default_status_id":{"type":["string","null"]},"access_mode":{"type":"string","enum":["anyone","members","invited"]},"allowed_emails":{"type":"array","items":{"type":"string"}},"has_password":{"type":"boolean"},"notify_submission":{"type":"boolean"},"confirmation_email":{"type":"boolean"},"fields":{"type":"array","items":{"$ref":"#/components/schemas/FormField"}}},"required":["issue_type","priority","success_message","accent_color","header_text","show_project_header","close_at","response_limit","one_per_email","confirmation_mode","redirect_url","default_assignee_id","default_label_ids","default_sprint_id","default_status_id","access_mode","allowed_emails","has_password","notify_submission","confirmation_email","fields"]}]},"FormSubmission":{"type":"object","properties":{"id":{"type":"string"},"answers":{"type":"object","additionalProperties":{},"description":"field_id → submitted value, stored verbatim."},"submitter_email":{"type":["string","null"]},"source":{"type":"string","enum":["public","internal"]},"created_issue_id":{"type":["string","null"]},"created_issue_key":{"type":["string","null"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","answers","submitter_email","source","created_issue_id","created_issue_key","created_at"]},"FormCreateInput":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":200},"description":{"type":"string","maxLength":2000},"issue_type":{"type":"string","enum":["task","story","bug"]},"priority":{"type":"string"},"fields":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"string","enum":["short_text","long_text","select","multi_select","number","date","email","radio","phone","url","rating","section","file","checkbox"]},"label":{"type":"string","minLength":1,"maxLength":200},"required":{"type":"boolean"},"options":{"type":"array","items":{"type":"string","maxLength":200},"maxItems":50},"placeholder":{"type":"string","maxLength":200},"help_text":{"type":"string","maxLength":500},"mapping":{"type":"string","enum":["none","title","description","priority"]},"min_value":{"type":"number"},"max_value":{"type":"number"},"max_length":{"type":"integer","minimum":1,"maximum":20000},"default_value":{"type":"string","maxLength":500}},"required":["kind","label"]},"maxItems":200}},"required":["title"]},"FormPatchInput":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":200},"description":{"type":["string","null"],"maxLength":2000},"status":{"type":"string","enum":["draft","published","closed"]},"issue_type":{"type":"string","enum":["task","story","bug"]},"priority":{"type":"string"},"success_message":{"type":["string","null"]},"accent_color":{"type":["string","null"]},"header_text":{"type":["string","null"]},"show_project_header":{"type":"boolean"},"close_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"response_limit":{"type":["integer","null"],"minimum":1,"maximum":1000000},"one_per_email":{"type":"boolean"},"confirmation_mode":{"type":"string","enum":["message","redirect"]},"redirect_url":{"type":["string","null"]},"default_assignee_id":{"type":["string","null"]},"default_label_ids":{"type":"array","items":{"type":"string"}},"default_sprint_id":{"type":["string","null"]},"default_status_id":{"type":["string","null"]},"access_mode":{"type":"string","enum":["anyone","members","invited"]},"allowed_emails":{"type":"array","items":{"type":"string"},"maxItems":500},"notify_submission":{"type":"boolean"},"confirmation_email":{"type":"boolean"},"public_enabled":{"type":"boolean"}}},"Automation":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"enabled":{"type":"boolean"},"trigger":{"type":"string","enum":["issue.created","issue.status_changed","issue.priority_changed","issue.assigned","issue.unassigned","comment.added"]},"conditions":{"type":["object","null"],"properties":{"match":{"type":"string","enum":["all","any"]},"rules":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["project","type","priority","status","assignee","label","title"]},"op":{"type":"string","enum":["is","is_not","is_one_of","contains","is_set","is_empty"]},"value":{"anyOf":[{"type":"string","maxLength":500},{"type":"array","items":{"type":"string","maxLength":100},"maxItems":50}]}},"required":["field","op"]},"maxItems":10}},"required":["match","rules"]},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["set_status","set_priority","assign_to","unassign","add_label","remove_label","move_to_sprint","add_comment","notify_agent"]},"status":{"type":"string"},"priority":{"type":"string"},"assign_target":{"type":"string","enum":["member","triggering_user"]},"member_id":{"type":"string"},"label_id":{"type":"string"},"sprint_target":{"type":"string","enum":["active","specific","backlog"]},"sprint_id":{"type":"string"},"comment":{"type":"string","maxLength":2000},"agent_user_id":{"type":"string"}},"required":["type"]}},"project_id":{"type":["string","null"],"description":"Derived from a project-is condition; null = all projects."},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","name","enabled","trigger","conditions","actions","project_id","created_by","created_at","updated_at"]},"AutomationRun":{"type":"object","properties":{"id":{"type":"string"},"automation_id":{"type":"string"},"issue_id":{"type":["string","null"]},"trigger":{"type":"string"},"status":{"type":"string","enum":["ok","partial","error"]},"actions_applied":{"type":["array","null"],"items":{"type":"object","properties":{"type":{"type":"string"},"ok":{"type":"boolean"},"detail":{"type":"string"}},"required":["type","ok"]}},"detail":{"type":["string","null"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","automation_id","issue_id","trigger","status","actions_applied","detail","created_at"]},"AutomationCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"trigger":{"type":"string","enum":["issue.created","issue.status_changed","issue.priority_changed","issue.assigned","issue.unassigned","comment.added"]},"conditions":{"type":["object","null"],"properties":{"match":{"type":"string","enum":["all","any"]},"rules":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["project","type","priority","status","assignee","label","title"]},"op":{"type":"string","enum":["is","is_not","is_one_of","contains","is_set","is_empty"]},"value":{"anyOf":[{"type":"string","maxLength":500},{"type":"array","items":{"type":"string","maxLength":100},"maxItems":50}]}},"required":["field","op"]},"maxItems":10}},"required":["match","rules"]},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["set_status","set_priority","assign_to","unassign","add_label","remove_label","move_to_sprint","add_comment","notify_agent"]},"status":{"type":"string"},"priority":{"type":"string"},"assign_target":{"type":"string","enum":["member","triggering_user"]},"member_id":{"type":"string"},"label_id":{"type":"string"},"sprint_target":{"type":"string","enum":["active","specific","backlog"]},"sprint_id":{"type":"string"},"comment":{"type":"string","maxLength":2000},"agent_user_id":{"type":"string"}},"required":["type"]},"minItems":1,"maxItems":10},"project_id":{"type":["string","null"]},"enabled":{"type":"boolean"}},"required":["name","trigger","actions"]},"AutomationPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"trigger":{"type":"string","enum":["issue.created","issue.status_changed","issue.priority_changed","issue.assigned","issue.unassigned","comment.added"]},"conditions":{"type":["object","null"],"properties":{"match":{"type":"string","enum":["all","any"]},"rules":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","enum":["project","type","priority","status","assignee","label","title"]},"op":{"type":"string","enum":["is","is_not","is_one_of","contains","is_set","is_empty"]},"value":{"anyOf":[{"type":"string","maxLength":500},{"type":"array","items":{"type":"string","maxLength":100},"maxItems":50}]}},"required":["field","op"]},"maxItems":10}},"required":["match","rules"]},"actions":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["set_status","set_priority","assign_to","unassign","add_label","remove_label","move_to_sprint","add_comment","notify_agent"]},"status":{"type":"string"},"priority":{"type":"string"},"assign_target":{"type":"string","enum":["member","triggering_user"]},"member_id":{"type":"string"},"label_id":{"type":"string"},"sprint_target":{"type":"string","enum":["active","specific","backlog"]},"sprint_id":{"type":"string"},"comment":{"type":"string","maxLength":2000},"agent_user_id":{"type":"string"}},"required":["type"]},"minItems":1,"maxItems":10},"project_id":{"type":["string","null"]},"enabled":{"type":"boolean"}}},"WorkflowNode":{"type":"object","properties":{"id":{"type":"string"},"kind":{"type":"string","enum":["start","agent","person","condition","parallel","end"]},"assignee_user_id":{"type":["string","null"],"description":"The agent (isAgent user) or person for agent/person nodes; null otherwise."},"config":{"description":"Kind-specific config. condition: { match, rules } (AutomationConditions shape). agent: { title?, instructions? }. parallel: { join: \"all\"|\"any\" }."},"label":{"type":["string","null"]},"pos_x":{"type":"integer"},"pos_y":{"type":"integer"}},"required":["id","kind","assignee_user_id","label","pos_x","pos_y"]},"WorkflowEdge":{"type":"object","properties":{"id":{"type":"string"},"source_node_id":{"type":"string"},"target_node_id":{"type":"string"},"branch_label":{"type":["string","null"],"description":"\"true\"|\"false\" on a condition node's out-edges; null otherwise."}},"required":["id","source_node_id","target_node_id","branch_label"]},"Workflow":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string","example":"Triage and build"},"description":{"type":["string","null"]},"status":{"type":"string","enum":["draft","enabled"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","name","description","status","created_at","updated_at"]},"WorkflowDetail":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":["string","null"]},"status":{"type":"string","enum":["draft","enabled"]},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowNode"}},"edges":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowEdge"}},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","name","description","status","nodes","edges","created_at","updated_at"]},"WorkflowRun":{"type":"object","properties":{"id":{"type":"string"},"issue_id":{"type":"string"},"status":{"type":"string","enum":["running","completed","failed","cancelled"]},"current_summary":{"type":["string","null"]},"started_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"ended_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","issue_id","status","current_summary","started_at","ended_at"]},"WorkflowRunNode":{"type":"object","properties":{"node_id":{"type":"string"},"state":{"type":"string","enum":["pending","active","done","skipped","failed"]},"branch_taken":{"type":["string","null"]}},"required":["node_id","state","branch_taken"]},"WorkflowRunDetail":{"type":"object","properties":{"id":{"type":"string"},"workflow_id":{"type":"string"},"workflow_name":{"type":"string"},"issue_id":{"type":"string"},"status":{"type":"string","enum":["running","completed","failed","cancelled"]},"current_summary":{"type":["string","null"]},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowRunNode"}},"started_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"ended_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","workflow_id","workflow_name","issue_id","status","current_summary","nodes","started_at","ended_at"]},"WorkflowCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120},"description":{"type":"string","maxLength":500}},"required":["name"]},"WorkflowPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120},"description":{"type":["string","null"],"maxLength":500},"status":{"type":"string","enum":["draft","enabled"]}}},"WorkflowGraphInput":{"type":"object","properties":{"nodes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"kind":{"type":"string","enum":["start","agent","person","condition","parallel","end"]},"assignee_user_id":{"type":["string","null"]},"config":{},"label":{"type":["string","null"],"maxLength":120},"pos_x":{"type":"integer"},"pos_y":{"type":"integer"}},"required":["id","kind","pos_x","pos_y"]},"maxItems":200},"edges":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","minLength":1},"source_node_id":{"type":"string","minLength":1},"target_node_id":{"type":"string","minLength":1},"branch_label":{"type":["string","null"],"maxLength":120}},"required":["id","source_node_id","target_node_id"]},"maxItems":400}},"required":["nodes","edges"]},"WorkflowStartInput":{"type":"object","properties":{"workflow_id":{"type":"string","minLength":1}},"required":["workflow_id"]},"WorkflowCompleteStageInput":{"type":"object","properties":{"node_id":{"type":"string","minLength":1,"description":"Complete this active stage; omit to complete all active stages."}}},"WorkspaceView":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"filter":{"description":"Cross-project filter blob (projectIds[], statuses[], priorities[], types[], assigneeId, sort)."},"is_shared":{"type":"boolean"},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","name","is_shared","created_by","created_at","updated_at"]},"WorkspaceViewCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":80},"filter":{"type":"object","properties":{"projectIds":{"type":"array","items":{"type":"string"}},"statuses":{"type":"array","items":{"type":"string"}},"priorities":{"type":"array","items":{"type":"string"}},"types":{"type":"array","items":{"type":"string"}},"assigneeId":{"type":["string","null"]},"sort":{"type":"string","enum":["updated_desc","created_desc","priority_desc","due_asc"]}},"required":["projectIds","statuses","priorities","types","assigneeId","sort"]},"is_shared":{"type":"boolean","description":"Defaults to true."}},"required":["name"]},"WorkspaceUsage":{"type":"object","properties":{"plan":{"type":"object","properties":{"plan":{"type":"string","enum":["free","pro","business"]},"status":{"type":["string","null"]},"trialing":{"type":"boolean"},"cycle":{"type":["string","null"]},"current_period_end":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["plan","status","trialing","cycle","current_period_end"]},"storage":{"type":"object","properties":{"used_bytes":{"type":"integer"},"cap_bytes":{"type":"integer"},"base_cap_bytes":{"type":"integer"},"addon_bytes":{"type":"integer"},"remaining_bytes":{"type":"integer"},"used_pct":{"type":"integer"}},"required":["used_bytes","cap_bytes","base_cap_bytes","addon_bytes","remaining_bytes","used_pct"]},"ai_credits":{"type":"object","properties":{"monthly_grant":{"type":"integer"},"used":{"type":"integer"},"remaining":{"type":"integer"},"topup_balance":{"type":"integer"},"daily_limit":{"type":"integer"},"daily_used":{"type":"integer"},"daily_remaining":{"type":"integer"}},"required":["monthly_grant","used","remaining","topup_balance","daily_limit","daily_used","daily_remaining"]}},"required":["plan","storage","ai_credits"]},"DocComment":{"type":"object","properties":{"id":{"type":"string"},"doc_id":{"type":"string"},"parent_id":{"type":["string","null"]},"author":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"type":["string","null"]}},"required":["id","email","name"]},"body_md":{"type":"string"},"body_html":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","doc_id","parent_id","author","body_md","body_html","created_at","updated_at"]},"DocVersionSummary":{"type":"object","properties":{"id":{"type":"string"},"doc_id":{"type":"string"},"title":{"type":"string"},"created_by":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"type":["string","null"]}},"required":["id","email","name"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"body_md_length":{"type":"integer"}},"required":["id","doc_id","title","created_by","created_at","body_md_length"]},"DocVersion":{"type":"object","properties":{"id":{"type":"string"},"doc_id":{"type":"string"},"title":{"type":"string"},"body_json":{},"body_md":{"type":["string","null"]},"created_by":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"type":["string","null"]}},"required":["id","email","name"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","doc_id","title","body_md","created_by","created_at"]},"Portfolio":{"type":"object","properties":{"id":{"type":"string"},"workspace_id":{"type":"string"},"name":{"type":"string","example":"Platform"},"description_md":{"type":["string","null"]},"color":{"type":"string","example":"#8b8f98"},"lead_user_id":{"type":["string","null"]},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","workspace_id","name","description_md","color","lead_user_id","created_by","created_at","updated_at"]},"PortfolioCreateInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120},"description_md":{"type":["string","null"],"maxLength":10000},"color":{"type":"string","pattern":"^#[0-9a-fA-F]{6}$","example":"#8b8f98"},"lead_user_id":{"type":["string","null"]}},"required":["name"]},"PortfolioPatchInput":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120},"description_md":{"type":["string","null"],"maxLength":10000},"color":{"type":"string","pattern":"^#[0-9a-fA-F]{6}$"},"lead_user_id":{"type":["string","null"]}}},"PortfolioProject":{"type":"object","properties":{"portfolio_id":{"type":"string"},"project_id":{"type":"string"}},"required":["portfolio_id","project_id"]},"PortfolioProjectAddInput":{"type":"object","properties":{"project_id":{"type":"string","minLength":1}},"required":["project_id"]},"KeyResult":{"type":"object","properties":{"id":{"type":"string"},"goal_id":{"type":"string"},"title":{"type":"string"},"kind":{"type":"string","enum":["manual","auto"]},"unit":{"type":["string","null"],"example":"%"},"start_value":{"type":["number","null"]},"target_value":{"type":["number","null"]},"current_value":{"type":["number","null"]},"weight":{"type":"number","example":1},"scope":{"type":["object","null"],"properties":{"project_ids":{"type":"array","items":{"type":"string"}},"issue_types":{"type":"array","items":{"type":"string","enum":["epic","story","task","bug","subtask"]}},"label_ids":{"type":"array","items":{"type":"string"}},"assignee_id":{"type":["string","null"]}},"description":"Auto-KR work scope; null = inherit the goal's portfolio/workspace scope. Unknown ids are dropped."},"progress_pct":{"type":["integer","null"]},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","goal_id","title","kind","unit","start_value","target_value","current_value","weight","scope","progress_pct","created_at","updated_at"]},"KeyResultCreateInput":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":200},"kind":{"type":"string","enum":["manual","auto"]},"unit":{"type":["string","null"],"maxLength":24},"start_value":{"type":["number","null"]},"target_value":{"type":["number","null"]},"current_value":{"type":["number","null"]},"weight":{"type":"number","exclusiveMinimum":0,"maximum":999,"description":"Relative weight in the goal roll-up (default 1)."},"scope":{"type":["object","null"],"properties":{"project_ids":{"type":"array","items":{"type":"string"}},"issue_types":{"type":"array","items":{"type":"string","enum":["epic","story","task","bug","subtask"]}},"label_ids":{"type":"array","items":{"type":"string"}},"assignee_id":{"type":["string","null"]}},"description":"Auto KRs only; ignored for manual."}},"required":["title","kind"]},"KeyResultPatchInput":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":200},"unit":{"type":["string","null"],"maxLength":24},"start_value":{"type":["number","null"]},"target_value":{"type":["number","null"]},"current_value":{"type":["number","null"]},"weight":{"type":"number","exclusiveMinimum":0,"maximum":999},"scope":{"type":["object","null"],"properties":{"project_ids":{"type":"array","items":{"type":"string"}},"issue_types":{"type":"array","items":{"type":"string","enum":["epic","story","task","bug","subtask"]}},"label_ids":{"type":"array","items":{"type":"string"}},"assignee_id":{"type":["string","null"]}},"description":"Applied only to auto KRs."}}},"Goal":{"type":"object","properties":{"id":{"type":"string"},"workspace_id":{"type":"string"},"title":{"type":"string","example":"Reach 1,000 active workspaces"},"description_md":{"type":["string","null"]},"portfolio_id":{"type":["string","null"],"description":"null = company goal (not grouped under a portfolio)."},"parent_goal_id":{"type":["string","null"]},"owner_user_id":{"type":["string","null"]},"cycle_start_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"cycle_due_at":{"type":["string","null"],"format":"date-time","example":"2026-05-28T14:30:00Z"},"status_override":{"type":["string","null"],"enum":["on_track","at_risk","off_track","done","not_started",null],"description":"Manual status override, or null when the status is fully derived."},"status":{"type":"string","enum":["on_track","at_risk","off_track","done","not_started"],"description":"Derived roll-up status (override applied). not_started = no measured progress yet."},"progress_pct":{"type":["integer","null"],"description":"Rolled-up 0-100, or null when nothing is measured."},"created_by":{"type":"string"},"created_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"},"updated_at":{"type":"string","format":"date-time","example":"2026-05-28T14:30:00Z"}},"required":["id","workspace_id","title","description_md","portfolio_id","parent_goal_id","owner_user_id","cycle_start_at","cycle_due_at","status_override","status","progress_pct","created_by","created_at","updated_at"]},"GoalDetail":{"allOf":[{"$ref":"#/components/schemas/Goal"},{"type":"object","properties":{"portfolio_name":{"type":["string","null"]},"parent_title":{"type":["string","null"]},"key_results":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"kind":{"type":"string","enum":["manual","auto"]},"unit":{"type":["string","null"]},"start_value":{"type":["number","null"]},"target_value":{"type":["number","null"]},"current_value":{"type":["number","null"]},"weight":{"type":"number"},"scope":{"type":["object","null"],"properties":{"project_ids":{"type":"array","items":{"type":"string"}},"issue_types":{"type":"array","items":{"type":"string","enum":["epic","story","task","bug","subtask"]}},"label_ids":{"type":"array","items":{"type":"string"}},"assignee_id":{"type":["string","null"]}},"description":"Auto-KR work scope; null = inherit the goal's portfolio/workspace scope. Unknown ids are dropped."},"progress_pct":{"type":["integer","null"]}},"required":["id","title","kind","unit","start_value","target_value","current_value","weight","scope","progress_pct"]}},"children":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"progress_pct":{"type":["integer","null"]},"status":{"type":"string","enum":["on_track","at_risk","off_track","done","not_started"],"description":"Derived roll-up status (override applied). not_started = no measured progress yet."}},"required":["id","title","progress_pct","status"]}},"watcher_count":{"type":"integer"}},"required":["portfolio_name","parent_title","key_results","children","watcher_count"]}]},"GoalCreateInput":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":200},"description_md":{"type":["string","null"],"maxLength":20000},"portfolio_id":{"type":["string","null"],"description":"Group under a portfolio, or omit/null for a company goal."},"parent_goal_id":{"type":["string","null"],"description":"Alignment parent. Must stay acyclic and within the depth cap."},"owner_user_id":{"type":["string","null"]},"cycle_start_at":{"type":["string","null"],"example":"2026-07-01"},"cycle_due_at":{"type":["string","null"],"example":"2026-09-30"}},"required":["title"]},"GoalPatchInput":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":200},"description_md":{"type":["string","null"],"maxLength":20000},"portfolio_id":{"type":["string","null"]},"parent_goal_id":{"type":["string","null"]},"owner_user_id":{"type":["string","null"]},"cycle_start_at":{"type":["string","null"]},"cycle_due_at":{"type":["string","null"]},"status_override":{"type":["string","null"],"enum":["on_track","at_risk","off_track","done",null],"description":"Set a manual status, or null to clear the override."}}},"Pagination":{"type":"object","properties":{"next_cursor":{"type":["string","null"],"example":null}},"required":["next_cursor"]}},"parameters":{}},"paths":{"/v1/me":{"get":{"summary":"Identity for this API key.","tags":["Meta"],"security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Me"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces":{"get":{"summary":"List workspaces this key can access.","tags":["Workspaces"],"security":[{"bearerAuth":["workspaces:read"]}],"parameters":[{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":["integer","null"]},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Workspace"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}":{"get":{"summary":"Workspace detail.","tags":["Workspaces"],"security":[{"bearerAuth":["workspaces:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Workspace"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"patch":{"summary":"Update workspace name.","tags":["Workspaces"],"security":[{"bearerAuth":["workspaces:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspacePatchInput"}}}},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Workspace"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/api-keys":{"get":{"summary":"List API keys.","tags":["Developer"],"security":[{"bearerAuth":["api_keys:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":["integer","null"]},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"summary":"Create an API key. Plaintext is returned exactly once.","tags":["Developer"],"security":[{"bearerAuth":["api_keys:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateInput"}}}},"responses":{"201":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreatedApiKey"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/api-keys/{id}":{"get":{"summary":"API key detail.","tags":["Developer"],"security":[{"bearerAuth":["api_keys:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKey"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"patch":{"summary":"Update API key rate limit.","tags":["Developer"],"security":[{"bearerAuth":["api_keys:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyPatchInput"}}}},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKey"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"delete":{"summary":"Revoke an API key.","tags":["Developer"],"security":[{"bearerAuth":["api_keys:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"revoked":{"type":"boolean","enum":[true]}},"required":["id","revoked"]}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/api-keys/{id}/usage":{"get":{"summary":"Per-day request/error/latency rollup for a single API key (max 90-day window).","tags":["Developer"],"security":[{"bearerAuth":["api_keys:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string","example":"2026-05-17","description":"Start date (YYYY-MM-DD). Defaults to 30 days ago. Window capped at 90 days."},"required":false,"description":"Start date (YYYY-MM-DD). Defaults to 30 days ago. Window capped at 90 days.","name":"from","in":"query"},{"schema":{"type":"string","example":"2026-06-15","description":"End date (YYYY-MM-DD). Defaults to today."},"required":false,"description":"End date (YYYY-MM-DD). Defaults to today.","name":"to","in":"query"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKeyUsage"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/webhooks":{"get":{"summary":"List webhooks.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":["integer","null"]},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Webhook"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"summary":"Create a webhook. Signing secret is returned exactly once.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreateInput"}}}},"responses":{"201":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreatedWebhook"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/webhooks/{id}":{"get":{"summary":"Webhook detail.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Webhook"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"patch":{"summary":"Update or re-enable a webhook.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookPatchInput"}}}},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Webhook"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"delete":{"summary":"Delete a webhook.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"deleted":{"type":"boolean","enum":[true]}},"required":["id","deleted"]}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/webhooks/{id}/deliveries":{"get":{"summary":"List recent webhook delivery history.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":["integer","null"]},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookDelivery"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/webhooks/{id}/rotate-secret":{"post":{"summary":"Rotate webhook signing secret. New secret is returned exactly once.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreatedWebhook"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/webhooks/{id}/test":{"post":{"summary":"Send one signed webhook.test delivery to the endpoint.","tags":["Developer"],"security":[{"bearerAuth":["webhooks:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"019e6f12-…"},"required":true,"name":"id","in":"path"}],"responses":{"202":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/WebhookDelivery"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/oauth-apps":{"get":{"summary":"List OAuth apps.","tags":["Developer"],"security":[{"bearerAuth":["oauth_apps:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":["integer","null"]},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/OauthApp"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"post":{"summary":"Register an OAuth app. client_secret is returned exactly once (null for public/PKCE clients).","tags":["Developer"],"security":[{"bearerAuth":["oauth_apps:write"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OauthAppCreateInput"}}}},"responses":{"201":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreatedOauthApp"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}}},"/v1/workspaces/{slug}/oauth-apps/{clientId}":{"get":{"summary":"OAuth app detail.","tags":["Developer"],"security":[{"bearerAuth":["oauth_apps:read"]}],"parameters":[{"schema":{"type":"string","example":"taskfolk","description":"Workspace slug."},"required":true,"description":"Workspace slug.","name":"slug","in":"path"},{"schema":{"type":"string","example":"utoc_...","description":"OAuth app client ID."},"required":true,"description":"OAuth app client ID.","name":"clientId","in":"path"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/OauthApp"}},"required":["data"]}}}},"400":{"description":"Validation error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"401":{"description":"Missing / invalid API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"403":{"description":"Key lacks the required scope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"404":{"description":"Resource not found (or cross-workspace — never leaked).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}},"429":{"description":"Rate limited.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"}}}}}},"delete":{"summary":"Revoke an OAuth app.","tags":["Developer"],"security":
[...]
